---
import { type CollectionEntry, getCollection } from 'astro:content';
import Post from '../../layouts/Post.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
//  const { title, description, pubDate, updatedDate, heroImage } = Astro.props; 
---

<Post {...post.data}>
  <h1 class="page-name">Blog</h1>
  
  <div class="page-intro">
    <p class="lead">
      Old fashioned blog.
    </p>
  </div>
  <div class="page-content">
    <Content />
  </div>
</Post>
