
.page-content .uplot {
  font-family: inherit;
}

.page-content .uplot .u-axis {
  font-family: "chaparral-pro", Georgia, serif;
}

.page-content .u-legend tr {
  border-bottom: 0;
}

.page-content .uplot .u-legend .u-series .u-marker {
  border-radius: 50%;
  border-width: 6px;
}