---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" class="light-theme">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://use.typekit.net/bxg6oqg.css">
	</head>

<body class="page">

	<!-- 
		.----------------------.
		|  Main page sections  |
		+----------------------+
		|  .page-title ……… %1  |
		|  .page-links ……… %2  |
		|  .page-name ………… %3  |
		|  .page-intro ……… %4  |
		|  .page-content … %5  |
		|  .page-foot ………… %6  |
		|  .page-footer …… %7  |
		|  .page.meta ………… %8  |
		'----------------------'
	-->
	
	<Header />
	
	<!-- .page-name %3 -->
		<h1 class="page-name">Hello world,</h1>
	<!-- /.page-name -->
	
	<!-- .page-intro %4 -->
		<div class="page-intro">
		</div>
	<!-- /.page-intro -->
	
	<!-- .page-content %5 -->
		<div class="page-content">
	
			<section class="hello">
				<p>
					I <mark>strategise / design / craft</mark>:
					(i)&nbsp;<b>information</b>, (ii)&nbsp;<b>interactions</b>, and (iii)&nbsp;<b>interfaces</b> 
					for <b>products</b> and <b>services</b>
					in the context of <b>technology</b>, <b>business</b>, and <b>people</b> 
					by employing <b>system/abstract thinking</b>, <b>sustainability</b>, and <b>empathy</b>, 
					to deliver <i>great UX</i> and <i>positive outcomes</i> for people. This is my website.
				</p>
				<p>
					I am driven by curiosity and constant learning. I work with integrity, attention to detail, and humility toward the complexity of our world and humans.
				</p>
				<p>
					I strongly believe in the power of research, conceptualisation, creativity, and collaboration, all modelled around a process of forming ideas, making decisions and fast execution to learn based on experimentation.
				</p>
				<p>
					I am based in <a href="https://en.wikipedia.org/wiki/Kraków">Kraków</a> but I work across time and space.
				</p>
			</section>
			<hr>
			<section class="curriculum">
				<p>
					<b>Work experience</b>. <i>Currently</i>: Principal Designer at <a href="https://grafana.com/" title="Company website">Grafana Labs</a> ❦ <i>Previously</i>: Head of User Experience &amp; Product Design at <a href="https://www.linkedin.com/company/tvn/about/" title="LinkedIn company page">TVN Discovery</a> ✻ Senior Service Designer at <a href="https://www.linkedin.com/company/aktan/" title="LinkedIn company page">aktan.fr</a> ✻ Lead UX Designer and Digital Product Manager at <a href="https://miastologia.pl" title="Customer website (in Polish)">miastologia.pl</a> ✻ User Experience Design Director at <a href="https://www.vmlyr.com" title="Global company website">VML Poland</a> ✻ Front-end Developer at <a href="https://www.creativestyle.de" title="Company website (in German)">Creative Style</a> ☙ 15 years of professional design and IT experience.
				</p>
				<p>
					<b>Teaching</b>. Educator and mentor at <a href="https://english.swps.pl" title="University website">SWPS University of Social Sciences and Humanities</a> (Warsaw &amp; Katowice) ❦ Educator at Faculty of Humanities (<a href="https://www.agh.edu.pl/en/" title="University website">AGH University of Science and Technology</a>, Kraków).
				</p>
				<p>
					<b>Public speaking &amp; workshops</b>: Google Launchpad, Element Urban Talks, UX Poland, 4Developers, Creative Mornings, WUD Kraków (&times;5), Customer &amp; User Experience Seminary, Internet Beta (2012) + 16 other gigs.
				</p>
				<p>
					<small>
						<b>Work areas and professional interests</b>: systems and abstract thinking, design direction, digital transformation, design critique, conceptualisation, design thinking, product management, ux research, content strategy, information architecture (ia), interaction design (ixd), user interface (ui), user experience (ux), service design, creativity and learning.
					</small>
				</p>
				<p>My inbox is open for education, mentorship, and speaking gigs: <mark>lukasz</mark> at <mark>tyra&middot;la</mark></p>
			</section>
			
			</div>
	<!-- /.page-content -->

	<Footer />

</body>
</html>