---
import Page from '../layouts/Page.astro';
import Clock from '../components/Clock.astro';
---
<Page page_title="now.html">

	<h1 class="page-name">Now</h1>

  <div class="page-intro">
    <Clock />
    <p class="lead">
      Here is what you can find <i>on my desk</i> <a href="https://nownownow.com">now</a>. This is a snapshot of my current interests, projects, and activities.
    </p>
  </div>

  <div class="page-content">
    <h2>Work</h2>
    <p>I'm currently working on <a href="https://grafana.com/docs/grafana-cloud/cost-management-and-billing/adaptive-telemetry/">Adaptive Telemetry</a> features of Grafana as a principal designer.</p>
    <h2>Reading, watching, listening</h2>
    <iframe title="Spotify embeded player" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3mSuzMDJpyoBHzW32FAS91?utm_source=generator" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <ul class="compact-list">
      <li><a href="https://hiddenbrain.org">Hidden Brain</a></li>
      <li><a href="https://www.youtube.com/@kurzgesagt">Kurzgesagt</a></li>
      <li><a href="https://www.youtube.com/@veritasium">Veritasium</a></li>
      <li><a href="https://www.youtube.com/c/3blue1brown">3Blue1Brown</a></li>
      <li><a href="https://timharford.com/articles/cautionarytales/">Cautionary Tales</a></li>
      <li><a href="https://99percentinvisible.org">99% Invisible</a></li>
      <li><a href="https://www.youtube.com/@Nerdwriter1">Nerdwriter1</a></li>
      <li><a href="https://www.imaginaryworldspodcast.org">Imaginary Worlds</a></li>
      <li><a href="https://www.nytimes.com/column/the-daily">The Daily</a></li>
      <li><a href="https://www.youtube.com/c/ThomasFlight">Thomas Flight</a></li>
      <li><a href="https://www.youtube.com/c/LikeStoriesofOld">Like Stories of Old</a></li>
      <li><a href="https://kottke.org">Kottke</a></li>
      <li><a href="https://pluralistic.net">Pluralistic</a></li>
      <li><a href="https://xkcd.com">xkcd</a></li>
      <li><a href="https://arxiv.org/list/cs.HC/recent">arxviz/cs.HC</a></li>
      <li><a href="https://arxiv.org/list/cs.SI/recent">arxviz/cs.SI</a></li>
    </ul>
  </div>

</Page>