---
import Page from '../layouts/Page.astro';
import Clock from '../components/Clock.astro';
---
<Page page_title="now.html">

	<h1 class="page-name">Now</h1>

  <div class="page-intro">
    <Clock />
    <p class="lead">
      Here is what you can find on my desk now, the things that are happening, current interests. Updated infrequently.
    </p>
  </div>

  <div class="page-content">
    <h2>Kilometers biked</h2>
    <div id="chart" style="width:100%"></div>

    <h2>Music</h2>
    <p>My go to playlist for flow states and maintaining focus.</p>
    <iframe title="Spotify embeded player" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3mSuzMDJpyoBHzW32FAS91?utm_source=generator" width="100%" height="380" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <h2>Listening</h2>
    <p>My current podcast digest:</p>
    <ul class="compact-list">
      <li><a href="https://hiddenbrain.org">Hidden Brain</a></li>
      <li><a href="https://timharford.com/articles/cautionarytales/">Cautionary Tales</a></li>
      <li><a href="https://99percentinvisible.org">99% Invisible</a></li>
      <li><a href="https://99percentinvisible.org">The Allusionist</a></li>
      <li><a href="https://www.imaginaryworldspodcast.org">Imaginary Worlds</a></li>
      <li><a href="https://theoryofeverythingpodcast.com">Benjamen Walker’s Theory of Everything</a></li>
      <li><a href="https://www.nytimes.com/column/the-daily">The Daily</a></li>
    </ul>
    <h2>Watching</h2>
    <ul class="compact-list">
      <li><a href="https://www.youtube.com/@kurzgesagt">Kurzgesagt</a></li>
      <li><a href="https://www.youtube.com/@Nerdwriter1">Nerdwriter1</a></li>
      <li><a href="https://www.youtube.com/c/TheBeautyOf">The Beauty Of</a></li>
      <li><a href="https://www.youtube.com/c/ThomasFlight">Thomas Flight</a></li>
      <li><a href="https://www.youtube.com/c/LikeStoriesofOld">Like Stories of Old</a></li>
      <li><a href="https://www.youtube.com/@filmjoy">Movies with Mikey</a></li>
      <li><a href="https://www.youtube.com/@veritasium">Veritasium</a></li>
      <li><a href="https://www.youtube.com/c/3blue1brown">3Blue1Brown</a></li>
      <li><a href="https://www.youtube.com/c/numberphile">Numberphile</a></li>
    </ul>
    <h2>Reading</h2>
    <ul>
      <li><i>Love Triangle. The life-changing magic of trigonometry</i> by Matt Parker</li>
    </ul>
  </div>

</Page>

<script src="/src/js/uPlot.iife.min.js"></script>
<script src="/src/js/chart.js"></script>