---
import Page from '../layouts/Page.astro';
---
<Page page_title="portfolio.html">

	<h1 class="page-name">Portfolio</h1>

  <div class="page-intro">
    <p class="lead">
      (Draft) overview of my professional career as a designer, researcher, educator and design leader, in-depth case studies and highlights of various projects&mdash;all in on presentation available upon request.
    </p>
  </div>

	<div class="page-content">
    <p>I have 15 years of professional experience in designing interactions and interfaces. I work in a product design team, and previously I designed services, worked at the agency, managed digital products and was a head of design departments and teams. I always put people first, not loosing the business strategy and objective out of sight.</p>
    <figure>
      <a href="https://portfolio-of-lukasz.tyra.la">
        <img src="portfolio-contact-sheet.jpg" alt="Contact sheet presenting thumbs of slides from portfolio" loading="lazy">
      </a>
      <figcaption><a href="https://f001.backblazeb2.com/file/webpub/Portfolio_of_Lukasz_Tyrala.pdf">Download Portfolio</a><br><code>PDF ✦ 65 655 289 bytes</code></figcaption>
    </figure>
    <p>My <mark>current projects are not included</mark> in the portfolio. I am happy to present my more recent work upon request.</p>
    <h2>Highlights</h2>
    <p>If you just want a quick glimpse of some snapshots and highlights, below you will find examples of my work&mdash;this scratches the surface, so if you would like to know more, let me know.</p>
    <figure>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/GnJe-psrUA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <figcaption>UX/UI design of a time zone picker improvements. Read companion article <a href="https://medium.com/@lukasz/on-time-time-zones-and-software-6617a4c22d05">On Time, Time Zones, and Software</a></figcaption>
    </figure>
    <figure>
      <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/328397590?h=9d2d0e2fd0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="fropt"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <figcaption>UX/UI for a website and CRM/CMS for a furniture startup. UX strategy, defining digital MVP, and complicated offering under the hood.</figcaption>
    </figure>
    <figure>
      <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/328423661?h=b812515e3a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Intranet for Nutricia Amsterdam"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <figcaption>Axure prototype of a global intranet for Nutricia Amsterdam. A lot of stakeholders, workshops, and communication work to set up the new portal for success.</figcaption>
    </figure>
    <figure style="max-width:320px;">
      <div style="padding:216.7% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/328405768?h=8ff6504bd5&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="miastologia-pl"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <figcaption>A website that allowed people to learn everything about real estate offer and purchase the apartment online&mdash;first full digital real estate sales process on Polish market.</figcaption>
    </figure>
    <figure>
      <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/151178083?h=92a5ce8d6e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="vision-express"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <figcaption>Design, product management and launch of the first big corporate responsive e-commerce in Poland. With accompanying system to manage on-site customer visits.</figcaption>
    </figure>
    <figure>
      <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/85379557?h=5d557b83ee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Lepiej Żywiec"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <figcaption>Unconventional interactions, unconventionally high conversion rates for digital contest participations for biggest Polish beer brand.</figcaption>
    </figure>
    <figure>
      <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/118400440?h=8dbfb71347&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="stopwariatom"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <figcaption>Award winning safe driving campaign for one of the biggest Europe insurance companies.</figcaption>
    </figure>
    <figure>
       <div style="padding:62.5% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/151177206?h=5ba40f8bb1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="tictac"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
       <figcaption>A website design that helped to win an international pitch. One of the first global interactive pitches won by Polish agency.</figcaption>
    </figure>

  </div>

</Page>